/* .background {
    background-color: rgb(255, 255, 255);
} */

body {
    margin: 0px;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #2D080A;
    width:100%;
    height:80px;
    z-index: 1;
    margin: 0px;
}

#index_bt {
    border: none;
    background: none;
    font-size: 30px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 20px;
    left:30px;
    color: #D4C5C7;
}

#index_bt:hover {
    color:#DCAB6B;
}

.bt {
    position: absolute;
    border: none;
    background-color: #D4C5C7;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-size: 25px;
    z-index: 10;
}
.bt:hover{
    background-color: #e8e8e8;
}


 #mem_info_bt {
    top: 150px;
    left: 300px;
}/*因為共用模板，這個之後再調回來*/
 

#logout_bt {
    top: 150px;
    left: 200px;
}

#change_bt {
    top: 150px;
    left: 450px;
}


.end {
    position:absolute;
    top:1500px;
    background-color: #2D080A;
    color:white;
    width:100vw;
    height:170px;
    z-index: 15;
    margin: 0px;
}

.contact_pic{
    height:50px;
    width: 50px;
    background-image: url("https://www.flaticon.com/free-icons/instagram-logo");
}

#ig {
    height: 40px;
}