body {
    font-family: "Arial";
}
 
div#calendar {
    margin: 0px auto;
    padding: 0px;
    width: 602px;
    position: absolute;
    top:6vh;
    left: 38vw;
}
 
div#calendar div.box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #2e3a47;
    border-radius: 8px 8px 0px 0px;
}
 
div#calendar div.header {
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    left: 11px;
    top: 0px;
    width: 582px;
    height: 40px;
    text-align: center;
}
 
div#calendar div.header a.prev, div#calendar div.header a.next {
    position: absolute;
    top: 0px;
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}
 
div#calendar div.header span.title {
    color: #FFF;
    font-size: 18px;
}
 
div#calendar div.header a.prev {
    left: 0px;
}
 
div#calendar div.header a.next {
    right: 0px;
}
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content {
    border: 1px solid #2e3a47;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
}
 
div#calendar ul.label {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
}
 
div#calendar ul.label li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    float: left;
    list-style-type: none;
    width: 80px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 15px;
    background-color: transparent;
}
 
div#calendar ul.dates {
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 80px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 80px;
    height: 80px;
    font-size: 25px;
    background-color: none;
    color: #000;
    text-align: center;
    position: relative;
}
 
:focus {
    outline: none;
}
 
div.clear {
    clear: both;
}
 
li div {
    display: flex;
}
 
li div form {
    display: inline;
    align-self: center;
    margin: 0;
    position: absolute;
    bottom: 2px;
}

.date
{
    margin-top: -20px;
    font-size: 24px;
}


div.open {
    background: #eaeaea;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height:0px;
    font-size: 14px;
}

 
div.booked {
    background: #df9c8a;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: inherit;
    line-height: 0px;
    font-size: 14px;
}

div.close {
    background: #363636;
    color: #eaeaea;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    line-height: 0px;
    font-size: 14px;
}

div.past {
    background: #eaeaea;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height:0px;
    font-size: 14px;
}


.full_text
{
    background: #666666;
}
 
.submit {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:3px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#3a3a3a;
    font-size:10px;
    font-weight:bold;
    padding:3px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
 
.submit:hover {
    background:linear-gradient(to bottom, #e4e4e4 0%, #ffffff 100%);
    background-color:#f6f6f6;
}
.submit:active {
    position:relative;
    top:1px;
}

.prev_page i
{
    position: absolute;
    color: #59CD90;
    font-size: 400px;
    bottom: 1%;
    right: 4%;
    cursor: pointer;
}

.switch
{
    display: flex;
}

.right
{
    position: absolute;
    color: #59CD90;
    font-size: 200px;
    right: 4%;
    cursor: pointer;
}

.left
{
    position: absolute;
    color: #59CD90;
    font-size: 200px;
    left: 4%;
    cursor: pointer;
}