.background {
    margin: 0px;
    padding-bottom:516px;
}

#change_password_part{
    background-color: #2D080A;
    color: white;
    font-size: 15px;
}

#change_password_part:hover{
    color: #DCAB6B;
}

#change_bt{
    top: 200px;
    left: 20px;
}

#back_bt{
    top: 200px;
    left: 130px;
}
