body{
    margin: 0%;
    height: 100vh;
    background-color: #2e3a47;
    z-index: 0;
}

.background {
    margin: 0px;
    padding-bottom:516px;
    background-color: #2e3a47;
    z-index: 0;
}

.change_title{
    position: absolute;
    left:12vw;
    top:18vh;
    color:aliceblue;
    font-size: 250%;
}

.title_line{
    position: absolute;
    left:10vw;
    top:35vh;
    background-color:aliceblue;
    height: 1px;
    width:30vw;
}

.inputA{
    position: absolute;
    left: 12vw;
    color: aliceblue;
}
.a1{
    top:35vh;
}
.a2{
    top:41vh;
}
.a3{
    top:47vh;
}
.a4{
    top:53vh;
}

.the_back_4_2{
    position: absolute;
    top:34.9vh;
    right:0px;
    height: 65.1vh;
    width: 40vw;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 30% 100%);
    background-color: white;
}

.inputB{
    position: absolute;
    left: 11vw;
    z-index: 200;
}
.b1{
    top:27vh;
}
.b2{
    top:0vh;
}
.b3{
    top:8vh;
}

#the_back_4{
    position: absolute;
    top:0px;
    right:0px;
    height: 35vh;
    width: 40vw;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    z-index: 200;
}

.bt{
    position: absolute;
    background-color: white;
    top: 19vh;
    color: #2e3a47;
    padding: 1% 2% 1% 2%;
}

#change_bt{
    left:14vw;
    border: solid 1px;
    border-color: #2e3a47;
    border-radius: 3px;
    justify-content: center; 
    text-align: center;
    align-items: center;
}
#change_bt:hover{
    background-color: #2e3a47;
    color: aliceblue;
}

#back_bt{
    left:25vw;
    border: none;
    justify-content: center; 
    text-align: center;
    align-items: center;
}
#back_bt:hover{
    border: solid 1px;
    border-color: #2e3a47;
    border-radius: 3px;
}
