* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: rgb(255, 222, 156);
  }
  
  section {
    margin: 0 10px;
  }

  #log_bt {
    top: 25px;
    left: 300px;
} 

 #sign_bt {
    top: 25px;
    left: 300px;
} 

 #manager_bt {
    top: 25px;
    left: 400px;
} 
#mem_info_bt {
  top: 25px;
  left: 300px;
}/*因為共用模板，這個之後再調回來*/


#logout_bt {
  top: 25px;
  left: 200px;
}

#change_bt {
  top: 25px;
  left: 450px;
}
  

  img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.7rem;
  }

  img:hover{
    opacity: 80%;
  }
  

  #A_photo {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 50px;
  }

  .intro_A {
    background-color: rgb(255, 142, 22);
    
    position: absolute;
    top: 150px;
    left: 315px;
  }
  #B_photo {
    z-index: 1;
    position: absolute;
    top: 150px;
    right: 380px;
  }

  .intro_B {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 150px;
    right: 65px;
  }

  #C_photo {
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 50px;
  }

  .intro_C {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 450px;
    left: 315px;
  }

  #D_photo {
    z-index: 1;
    position: absolute;
    top: 450px;
    right: 380px;
  }

  .intro_D {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 450px;
    right:65px;
  }

  #E_photo {
    z-index: 1;
    position: absolute;
    top: 750px;
    left: 50px;
  }

  .intro_E {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 750px;
    left:315px;
  }

  .background {
    margin: 0px;
    padding:0px;
}

.intro_a {
  font-size:30px;
}

/*end的css*/
.end{
  z-index: 200;
}

.email_pic{
  position: absolute;
  bottom: 15vh;
  left:18vw;
}

.email_text{
  position: absolute;
  bottom: 13vh;
  left:21vw;
  letter-spacing: 1.2px;
  color:rgb(205, 205, 205);
}

.fb_pic{
  position: absolute;
  bottom: 7vh;
  left:17.8vw;
}
.fb_text{
  position: absolute;
  bottom: 5vh;
  left:21vw;
  letter-spacing: 1.2px;
  color:rgb(205, 205, 205);
}
.fb_link{
  position: absolute;
  bottom: 7.5vh;
  left:28vw;
  letter-spacing: 1.2px;
  color: white;
  text-decoration: none;
  color:rgb(205, 205, 205);
}

.phone_pic{
  position: absolute;
  bottom: 14.5vh;
  left:46vw;
  height: 27px;
}
.phone_text{
  position: absolute;
  bottom: 13vh;
  left:49.5vw;
  letter-spacing: 1.2px;
  color:rgb(205, 205, 205);
}

.end_line3{
  position: absolute;
  bottom: 5vh;
  left: 42vw;
  background-color: rgb(205, 205, 205);
  height: 15vh;
  width: 0.3px;
  z-index: 150;
}
 
