* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: rgb(255, 222, 156);
  }
  
  section {
    margin: 0 10px;
  }
<<<<<<< Updated upstream

  #log_bt {
    top: 25px;
    left: 200px;
} 

 #sign_bt {
    top: 25px;
    left: 300px;
} 

 #manager_bt {
    top: 25px;
    left: 400px;
} 
#mem_info_bt {
  top: 25px;
  left: 300px;
}/*因為共用模板，這個之後再調回來*/


#logout_bt {
  top: 25px;
  left: 200px;
}

#change_bt {
  top: 25px;
  left: 450px;
}
  

  img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.7rem;
  }

  img:hover{
    opacity: 80%;
  }
  

  #A_photo {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 50px;
  }

  .intro_A {
    background-color: rgb(255, 142, 22);
    
    position: absolute;
    top: 150px;
    left: 315px;
  }
  #B_photo {
    z-index: 1;
    position: absolute;
    top: 150px;
    right: 380px;
  }

  .intro_B {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 150px;
    right: 65px;
  }

  #C_photo {
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 50px;
  }

  .intro_C {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 450px;
    left: 315px;
  }

  #D_photo {
    z-index: 1;
    position: absolute;
    top: 450px;
    right: 380px;
  }

  .intro_D {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 450px;
    right:65px;
  }

  #E_photo {
    z-index: 1;
    position: absolute;
    top: 750px;
    left: 50px;
  }

  .intro_E {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 750px;
    left:315px;
  }
=======

  .background {
    margin: 0px;
    padding:0px;
}

.intro_a {
  font-size:30px;
}
 
>>>>>>> Stashed changes
