* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: rgb(255, 222, 156);
  }
  
  section {
    margin: 0 10px;
  }
  
  .container {
    position: absolute;
    top: 3000px;
    left: 100px;
    padding: 10px;
    background: #ffaf95;
    margin: 15px auto;
    border-radius: 1rem;
    z-index: 1;
    width: 20%;
    height: 50%;
  }
  
  .slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 0.7rem;
  }
  
  #previous,
  #next {
    cursor: pointer;
    position: absolute;
    border-radius: 16px;
    background: #002369;
    color: #fff;
    padding: 15px;
    top: calc(50% - 25px);
    left: -20px;
  }
  
  #next {
    left: unset;
    right: -20px;
  }
  
  .dots {
    margin-top: 5px;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .dots li {
    width: 10px;
    height: 10px;
    background-color: silver;
    border-radius: 50%;
    cursor: pointer;
  }
  
  li.dot--active {
    background-color: gray;
  }

  #A_photo {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 50px;
  }

  .intro_A {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 150px;
    left: 315px;
  }
  #B_photo {
    z-index: 1;
    position: absolute;
    top: 150px;
    right: 340px;
  }

  .intro_B {
    background-color: rgb(255, 142, 22);
    position: absolute;
    top: 150px;
    right: 180px;
  }

  #C_photo {
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 50px;
  }
  #E_photo {
    z-index: 1;
    position: absolute;
    top: 750px;
    left: 50px;
  }