/*.box_1{
    width:700px;
    height:450px;
    float:center;
    background-color: #fff0c9;
    border-color: gray;
    box-shadow: 0 2px 7px black;
    border-radius: 20px;
    padding-left: 20px;
    display: flex; /* 彈性排版 */
    /*flex-direction: column; /* 彈性方向：縱向*/
    /*justify-content: center; 
    text-align: center;
    align-items: center;
    color:purple;
    margin:0 auto
  }

.box_1 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:purple;
}

.box_1 th, .box_1 td {
    border: 1px solid black;
    padding: 5px;
    color:purple;
}
.box_2 {
    width:700px;
    margin:0 auto;
    background-color: rgb(153, 215, 248);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;
    
}*/

/* .background {
    padding-bottom: 200px;
} */


.sections{
    z-index:10;
}

#log_bt {
    top: 15px;
    left: 200px;
    border-radius: 10px;
} 

 #sign_bt {
    top: 15px;
    left: 300px;
    border-radius: 10px;
} 

 #manager_bt {
    top: 15px;
    left: 400px;
    border-radius: 10px;
} 

#mem_info_bt {
    top: 15px;
    left: 300px;
    border-radius: 10px;
}/*因為共用模板，這個之後再調回來*/
 

#logout_bt {
    top: 15px;
    left: 200px;
    border-radius: 10px;
}

#change_bt {
    top: 15px;
    left: 450px;
    border-radius: 10px;
}





.adjust_index{/*要修縮小後畫面*/
    position: absolute;
    top:120px;
    left:40%;
}


.bt_2{
    border: none;
    background-color: #D4C5C7;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    align-items: right;
    
}
.bt_2:hover{
    background-color: #2D080A;
    color: #D4C5C7;
}





#gym_head_pic{
    margin:0;
    padding:0;
    width: 100vw;
    height:100vh;
    object-fit: cover;
    object-position: center;
}

.color-lump{
    width: 100vw;
    height: 553px;
    background-color: #b8c3bc;
    position: absolute;
    top:560px;
    left:0px;
    z-index: 1;
}

.color-lump:hover{
    background-color: #b4cabb;
    color: #D4C5C7;
}
.color-lump-2{
    width: 50vw;
    height: 553px;
    background-color: #9b9ea1;
    position: absolute;
    top:1113px;
    left:0px;
    z-index: 50;
    
}

.adjust_index_2{
    position: absolute;
    top:50px;
    left:100px;
    
}

.color-lump-3{
    width: 50vw;
    height: 553px;
    background-color: #c1aaaa;
    position: absolute;
    top:1113px;
    right:0px;
}

.adjust_index_3{
    position: absolute;
    top:50px;
    right:200px;
}

#peppa_pic{
  position: absolute;
    width: 656px;
    height: 553px;
    overflow:hidden;
}





.sp_bt{
  position: absolute;
  bottom: 1.5vh;
  border: 1px solid #2D080A;
  background-color: #2D080A;
  font-size: 13px;
  color: rgb(205, 205, 205);
  z-index: 100;
  padding: 5px 10.5px 5px 10.5px;
}

.privacy{
  right: 16vw;
}
.user{
  right: 9vw;
}
.privacy:hover, .user:hover{
  color: rgb(255, 255, 255);
}

.manager{
  right: 2vw;
}
.manager:hover{
  border: 1px solid white;
  border-radius: 2px;
  color: white;
}

.end_line1{
  position: absolute;
  bottom: 2vh;
  right: 8.75vw;
  background-color: rgb(205, 205, 205);
  height: 3vh;
  width: 0.8px;
  z-index: 150;
}
.end_line2{
  position: absolute;
  bottom: 2vh;
  right: 15.7vw;
  background-color: rgb(205, 205, 205);
  height: 3vh;
  width: 0.7px;
  z-index: 150;
}

* {
    box-sizing: border-box
  }
  
  /*幻燈片*/
  .mySlides {
    display: none
  }
  
  .slideshow-container {
  position:relative;
  margin-top: 1.5%;
  margin-left:14%;
  width:70%;
  height: 88%;
  overflow: hidden;
  border: solid 1px #ffffff;
  }
  
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }
  
  .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #a4a3a3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: #717171;
  }
  
  
  .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
 
  @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  }

/*標籤頁的css*/
  .tabs {
    background-color: #eee;
    height: 250px;
    width: 400px;
    position: absolute;
    top:60px;
    left: 8px;
    
  }
  
  .tabs__list {
    border-bottom: 1px solid black;
    background-color: #92b79d;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .tabs__tab {
    padding: 0.5rem;
  }
  
  .tabs__content {
    display: none;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 100%;
  }
  
  .tabs__input {
    display: none;
  }
  
  .tabs__input+label {
    cursor: pointer;
  }
  
  .tabs__input:focus,
  .tabs__input:hover {
    color: red;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  .tabs__input:checked+label {
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em
  }
  
  .tabs__input:checked~.tabs__content {
    display: block;
  }

  #text_2{
    font-size: 20px;
  }
/*end的css*/
.end{
  z-index: 200;
}

.email_pic{
  position: absolute;
  bottom: 15vh;
  left:18vw;
}

.email_text{
  position: absolute;
  bottom: 13vh;
  left:21vw;
  letter-spacing: 1.2px;
  color:rgb(205, 205, 205);
}

.fb_pic{
  position: absolute;
  bottom: 7vh;
  left:17.8vw;
}
.fb_text{
  position: absolute;
  bottom: 5vh;
  left:21vw;
  letter-spacing: 1.2px;
  color:rgb(205, 205, 205);
}
.fb_link{
  position: absolute;
  bottom: 7.5vh;
  left:28vw;
  letter-spacing: 1.2px;
  color: white;
  text-decoration: none;
  color:rgb(205, 205, 205);
}

.phone_pic{
  position: absolute;
  bottom: 14.5vh;
  left:46vw;
  height: 27px;
}
.phone_text{
  position: absolute;
  bottom: 13vh;
  left:49.5vw;
  letter-spacing: 1.2px;
  color:rgb(205, 205, 205);
}

.end_line3{
  position: absolute;
  bottom: 5vh;
  left: 42vw;
  background-color: rgb(205, 205, 205);
  height: 15vh;
  width: 0.3px;
  z-index: 150;
}

/*螢幕改動*/

@media (min-width: 1300px){
    .pic{
        width: 960px;
    }

    .base{
        width: 960px;
    }
}
