/*.box_1{
    width:700px;
    height:450px;
    float:center;
    background-color: #fff0c9;
    border-color: gray;
    box-shadow: 0 2px 7px black;
    border-radius: 20px;
    padding-left: 20px;
    display: flex; /* 彈性排版 */
    /*flex-direction: column; /* 彈性方向：縱向*/
    /*justify-content: center; 
    text-align: center;
    align-items: center;
    color:purple;
    margin:0 auto
  }

.box_1 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:purple;
}

.box_1 th, .box_1 td {
    border: 1px solid black;
    padding: 5px;
    color:purple;
}
.box_2 {
    width:700px;
    margin:0 auto;
    background-color: rgb(153, 215, 248);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;
    
}*/

.background {
    padding-bottom: 600px;
}

.pic {
    position: absolute;
    width: 760px;
    height:455px;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    z-index:2;
}

.pic:hover{
    opacity:0.5;
}

#pic_a {
    top:150px;
}

#pic_b {
    top:800px;
}

#pic_c {
    top:1450px;
}

.sections{
    z-index:10;
}

.base{
    position: absolute;
    width: 760px;
    height: 455px;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #f1d1a8;
    z-index:3;
}

#base_1{
    top:175px;
    right:0px;
}

#base_2{
    top:620px;
    right:0px;
}

#base_3{
    top:1065px;
    right:0px;
}

.adjust_index{/*要修縮小後畫面*/
    position: absolute;
    top:120px;
    left:40%;
}

.bt_2{
    border: none;
    background-color: #D4C5C7;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}
.bt_2:hover{
    background-color: #2D080A;
    color: #D4C5C7;
}

#gym_head_pic{
    margin:0;
    padding:0;
    height: 600px;;
    width:100%;
    object-fit: cover;
    object-position: center;
    opacity: 90%;
}

.color-lump{
    width: 100%;
    height: 400px;
    background-color: #92b79d;
    position: absolute;
    top:400px;
    left:0px;
    z-index: 20;
}

.color-lump:hover{
    background-color: #d3ecda;
    color: #D4C5C7;
}
.color-lump-2{
    width: 50%;
    height: 400px;
    background-color: #ecbe96;
    position: absolute;
    top:800px;
    left:0px;
    z-index: 10;
}
.color-lump-2:hover{
    background-color:  #eecfb4;
    color: #D4C5C7;
}
.color-lump-3{
    width: 50%;
    height: 400px;
    background-color: #f59d9d;
    position: absolute;
    top:800px;
    right:0px;
    z-index: 10;
}
.color-lump-3:hover{
    background-color:  #f9b0b0;
    color: #D4C5C7;
}


/*螢幕改動*/

@media (min-width: 1300px){
    .pic{
        width: 960px;
    }

    .base{
        width: 960px;
    }
}
