.background {
    margin: 0px;
}

#sign_part{
    background-color: #2D080A;
    color: #e8e8e8;
}
#sign_part:hover{
    color: #DCAB6B;
}

#log_part:hover{
    color: #DCAB6B;
    background-color: white;
}

#log_in_bt{
    left: 20px;
}

#forget_bt{
    left: 140px;
}

#back_bt{
    left: 260px;
}

.title{
    position: absolute;
    left:800px;
    top:265px;
    margin: 0px;
}

.input_bar{
    position: absolute;
    left: 800px;
}

#account_bar{
    top:300px;
}

#password_bar{
    top:350px;
}

.bt{
    position: absolute;
    padding: 7px 17px 7px 17px;
    top:420px
}

#log_in_bt{
    left:800px;
}

#forget_bt{
    left:900px;
}

#back_bt{
    left:1000px;
}
