.background {
    margin: 0px;
    padding-bottom:562px;
}

#manager_login_part{
    width:120px;
    background-color: #2D080A;
    color: white;
    font-size: 15px;
}

#manager_login_part:hover{
    color: #DCAB6B;
}

#log_in_bt{
    top: 100px;
    left: 20px;
}

#back_bt{
    top: 100px;
    left: 130px;
}