#side_box{
    position: fixed;
    top:80px;
    left:30px;
    width:12%;
    height:25%;
    background-color: lightsteelblue;
}
.side_text{
    padding-left: 20%;
    margin: 0px;
}
.subject{
    font-size: 150%;
}
.object{
    font-size: 80%;
    margin-top: 10%;
}

.side_line{
    position: relative;
    width:60%;
    height: 0.5px;
    left:20%;
    background-color: #000000;
    margin: 5% 0% 5% 0%;
}

.side_bt{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    position: relative;
}
._bt{
    border: none;
    top:550%;
    left: 0px;
    width: 50%;
    padding-top: 11%;
    padding-bottom: 11%;
    background-color: lightsteelblue;
}
._bt:hover{
    background-color: lightgray;
}

.change_page{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.boxes {
    display: none;
}

.box_1{
    width:1000px;
    height:800px;
    float:center;
    background-color: #fff0c9;
    border-color: gray;
    box-shadow: 0 2px 7px black;
    border-radius: 20px;
    padding-left: 20px;
    display: flex; /* 彈性排版 */
    flex-direction: column; /* 彈性方向：縱向*/
    justify-content: center; 
    text-align: center;
    align-items: center;
    color:purple;
    margin:0 auto
  }

.box_1 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:purple;
}

.box_1 th, .box_1 td {
    border: 1px solid black;
    padding: 5px;
    color:purple;
}
.box_2 {
    width:1000px;
    margin:0 auto;
    background-color: rgb(153, 215, 248);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;  
}

.box_3{
    width:1000px;
    height:800px;
    float:center;
    background-color: #fff0c9;
    border-color: gray;
    box-shadow: 0 2px 7px black;
    border-radius: 20px;
    padding-left: 20px;
    flex-direction: column; /* 彈性方向：縱向*/
    justify-content: center; 
    text-align: center;
    align-items: center;
    color:purple;
    margin:0 auto
  }

.box_3 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:purple;
}

.box_3 th, .box_1 td {
    border: 1px solid black;
    padding: 5px;
    color:purple;
}

.box_4 {
    width:800px;
    margin:0 auto;
    background-color: rgb(241, 191, 227);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;  
}
.box_4 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:rgb(55, 2, 2);
}

.box_4 th, .box_3 td {
    border: 1px solid black;
    padding: 5px;
    color:rgb(55, 2, 2);
}
.box_5 {
    width:800px;
    margin:0 auto;
    background-color: rgb(146, 247, 159);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;  
}
.delete{
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(234, 189, 130);
    cursor: pointer;
    border-color: rgb(234, 189, 130);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
  }

  .check:checked {
    background-color: #e73535;
  }
  
  