.background_pic{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

.background_box{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #676767;
    opacity: 0.6;
    z-index: -99;
}

.margins{
    width: 95vw;
    height: 5vh;
    background-color: none;
    opacity: 0;
}

.refresh{
    margin: 0px;
}

#side_box{
    position: fixed;
    top:80px;
    left:30px;
    width:12%;
    height:29%;
    background-color: lightsteelblue;
}
.side_text{
    padding-left: 20%;
    margin: 0px;
}
.subject{
    font-size: 150%;
}
.object1{
    font-size: 80%;
    margin-top: 10%;
}
.object2{
    font-size: 80%;
    margin: 5% 0% 10% 0%;
}
.object3{
    font-size: 80%;
    padding: 10% 0% 10% 20%;
    cursor:pointer;
    text-align:left;
}
.object3:hover{
    background-color: white;
    color: rgb(58, 92, 94);
}

.side_line{
    position: relative;
    width:90%;
    height: 0.5px;
    left:5%;
    background-color: #000000;
    margin: 5% 0% 0% 0%;
    z-index: 20;
}

.side_bt{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    position: relative;
}
._bt{
    border: none;
    top:0%;
    left: 0px;
    width: 50%;
    padding-top: 13%;
    padding-bottom: 13%;
    background-color: lightsteelblue;
}
._bt:hover{
    background-color: lightgray;
}

.change_page{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}
.change_bt{
    width: 13%;
    padding: 1% 0% 1% 0%;
    border: none;
    border-radius: 0px 8px 0px 0px;
    opacity: 0.85;
}
.change_bt:hover{
    background-color: lightgray;
}

.boxes {
    display: none;
}

.box_1{
    text-align:center;
    width:65%;
    padding-bottom:5%;
    float:center;
    background-color: #c0cddc;
    border-color: gray;
    box-shadow: 0 2px 7px black;
    border-radius: 0px 0px 20px 20px;
    display: flex; /* 彈性排版 */
    flex-direction: column; /* 彈性方向：縱向*/
    /*justify-content: center;*/ 
    text-align: center;
    align-items: center;
    color:black;
    margin:0 auto
}

.sub_title{
    position: relative;
    margin: 6% 0% 4% 0%;
    font-size: 200%;
    color: rgb(55, 2, 2);
}
.box_1 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:black;
}
.box_1 th, .box_1 td {
    border: 1px solid black;
    padding: 5px;
    color:black;
}

.box_2 {
    width:65%;
    height:500%;
    margin:0 auto;
    background-color: #c97e82;
    padding:3% 0% 5% 0%;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px; 
    box-shadow: 0 2px 7px black; 
}

.box_3{
    width:1000px;
    height:800px;
    float:center;
    background-color: #fff0c9;
    border-color: gray;
    box-shadow: 0 2px 7px black;
    border-radius: 20px;
    padding-left: 20px;
    flex-direction: column; /* 彈性方向：縱向*/
    justify-content: center; 
    text-align: center;
    align-items: center;
    color:purple;
    margin:0 auto
  }

.box_3 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:purple;
}

.box_3 th, .box_1 td {
    border: 1px solid black;
    padding: 5px;
    color:purple;
}

.box_4 {
    width:800px;
    margin:0 auto;
    background-color: rgb(241, 191, 227);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;  
}
.box_4 table {
    border-collapse: collapse;
    margin: 0 auto;
    color:rgb(55, 2, 2);
}

.box_4 th, .box_3 td {
    border: 1px solid black;
    padding: 5px;
    color:rgb(55, 2, 2);
}
.box_5 {
    width:800px;
    margin:0 auto;
    background-color: rgb(146, 247, 159);
    padding:15px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 15px;  
}
.delete{
    position: relative;
    top:20px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(234, 189, 130);
    cursor: pointer;
    border-color: rgb(234, 189, 130);
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
  }

  .check:checked {
    background-color: #e73535;
  }
  
  