body{
    /*width: 800px;*/
    margin:0 auto;
    text-align:center;
}

.background {
    padding-bottom: 68px;
}

.text{
    position: absolute;
    left:42%;
    color: white;
}

.adjust{
    display: flex;
}

.blocks {
    position: absolute;
    margin: 0px 20px 0px 20px;
    height:360px;
    width:240px;
    background-color: lightgray;
    border-radius: 15px;
    z-index: -10;
}

#block_1{
    top:0px;
    left:225px;
}
#block_2{
    top:0px;
    left:285px;
}
#block_3{
    top:0px;
    left:345px;
}

.check_bt{
    opacity: 0.5;
}

.labels{
    position: relative;
    padding-top:20px;
    padding-bottom: 314px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    z-index: 20;
}

.labels:hover input ~ .blocks {  
    background-color: gray;  
}  
    
.labels input:checked ~ .blocks {  
    background-color: blue;  
}

.line{
    position: relative;
    top:35px;
    left:35px;
    width:170px;
    height:1px;
    background-color: black;
    z-index: 20;
}
.text2{
    position: relative;
    width:50%;
    top:40px;
    left:50px;
    text-align:left;    
    z-index: 20;
}

.bt {
    width:120px;
    height:40px;
    top:580px;
    border-radius: 10px;
    z-index: 0;
}

#confirm_bt{
    left:30%;
}

#clear_bt{
    left:40%;
}

#back_bt{
    left:50%;
}

#update_bt{
    left:60%;
}
