body{
    /*width: 800px;*/
    margin:0 auto;
    text-align:center;
}

.background {
    padding-bottom: 68px;
}

.text{
    position: absolute;
    left:42%;
    color: white;
}

.adjust{
    display: flex;
}

.blocks {
    margin: 0px 20px 0px 20px;
    height:360px;
    width:240px;
    background-color: lightgray;
    border-radius: 15px 15px 15px 15px;
}

#block_1{
    margin-left: 230px;
}

.bt {
    width:120px;
    height:40px;
    top:580px;
    border-radius: 10px;
    z-index: 20;
}

#confirm_bt{
    left:30%;
}

#clear_bt{
    left:40%;
}

#back_bt{
    left:50%;
}

#update_bt{
    left:60%;
}
