body{
    /*width: 800px;*/
    margin:0 auto;
    text-align:center;
}

.background {
    height: 100%;
}

.text{
    position: absolute;
    left:42%;
    color: white;
}

.adjust{
    display: flex;
}

.blocks {
    position: relative;
    top:-45px;
    left:0px;
    margin: 0px;
    height:360px;
    width:240px;
    background-color: lightgray;
    border-radius: 15px;
    z-index: -10;
}

.check_bt{
    display: none;
    opacity: 0;
}

.labels{
    position: absolute;
    padding:12px 0px 0px 0px;
    top:160px;
    width:240px;
    height:346px;
    border-radius: 15px;
    font-size: 20px;
    z-index: 20;
}
#rookie{
    left:85px;
}
#advance{
    left:345px;
}
#master{
    left:605px;
}

.labels:hover input ~ .blocks {  
    background-color: rgb(184, 184, 184);  
}
    
.labels input:checked ~ .blocks {  
    background-color: #2D080A;  
}
.labels:has( input:checked){  
    color: white;  
}
.labels input:checked ~ .line {  
    background-color: white;  
}
.labels input:checked ~ .text2 {  
    color: white;  
}

.line{
    position: relative;
    top:-340px;
    left:40px;
    width:170px;
    height:0.5px;
    background-color: black;
    z-index: 20;
}

.text2{
    position: relative;
    width:100%;
    top:-330px;
    left: 50px;
    text-align:left;
    font-size: 15px;
    line-height: 140%;   
    z-index: 20;
}

.bt {
    width:120px;
    height:40px;
    top:560px;
    border-radius: 10px;
    font-size: 15px;
    z-index: 0;
}

#confirm_bt{
    left:15%;
}

#clear_bt{
    left:25%;
}

#back_bt{
    left:35%;
}

#update_bt{
    left:45%;
}

.side_block{
    position: absolute;
    top:80px;
    right:0px;
    width:320px;
    height: 87.5%;
    background-color: floralwhite;
}

.side_text{
    position: relative;
    top:30px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#side_text2{
    top:50px;
}

#line_d{
    top:40px;
    left:110px;
    width:100px;
}
#line_e{
    top:60px;
    left:110px;
    width:100px;
}
