.head_adjust{
    height: 50px;
}

.back_rec{
    position: absolute;
    left:0%;
    top: 0%;
    width: 30vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    background-color:  #2e3a47;
    position: absolute;
    z-index: -100;
}

.title_box{
    position: fixed;
    top:100px;
    left:50px;
    width:160px;
    height:50px;
    background-color:#2e3a47;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

.title{
    padding-top:5px;
    padding-left: 30px;
    font-size: 10px;
    margin: 0px;
}
.title2{
    padding-left: 30px;
    font-size: 18px;
    margin: 0px;
}

.change_box{
    position: fixed;
    top:170px;
    left:50px;
    width:160px;
    height:300px;
    background-color:gainsboro;
}

.bt_2{
    padding: 10px 0px 10px 0px;
    background-color: gainsboro;
    border: none;
    width: 100%;
}
.go_page:hover{
    color: darkslategray;
    background-color:white;
}
.back_page:hover{
    color: white;
    background-color:darkslategray;
}

#yoga_bt{
    position: absolute;
    top:3%;
}
#bike_bt{
    position: absolute;
    top:23%;
}
#aerobic_bt{
    position: absolute;
    top:43%;
}
#info_bt{
    position: absolute;
    top:63%;
}
#index_bt{
    position: absolute;
    top:83%;
}

.line{
    position: relative;
    background-color: black;
    width:50%;
    height:0.5px;
}
#line1{
    top:19%;
    left:25%;
}
#line2{
    top:39%;
    left:25%;
}
#line3{
    width:90%;
    top:59%;
    left:5%;
}
#line4{
    top:79%;
    left:25%;
}

.info_box{
    position: fixed;
    top:490px;
    left:50px;
    width:160px;
    height:60px;
    background-color:#2e3a47;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

.info_text{
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
}

.bt{
    position: absolute;
    right:100px;
    border: none;
    background-color: #D4C5C7;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 10;
}
.bt:hover{
    background-color: #e8e8e8;
}

.motion_pic{
    position: absolute;
    height:350px;
    bottom: 30px;
    right: 60px;
    opacity: 0.5;
    z-index: -10;
}

.back_rec2{
    position: absolute;
    right:0%;
    bottom: 0%;
    width: 6vw;
    height: 50vh;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    background-color:  #2e3a47;
    position: absolute;
    z-index: -100;
}
