.background {
    margin: 0px;
    padding:0px;
}

#log_part{
    background-color: #2D080A;
    color: #e8e8e8;
}
#log_part:hover{
    color: #DCAB6B;
}

#sign_part:hover{
    color: #DCAB6B;
    background-color: white;
}

.input_bar{
    position: absolute;
    left: 820px;
}

#gmail_bar{
    top:160px;
}

#name_bar{
    top:200px;
}

#account_bar{
    top:240px;
}

#password_bar{
    top:280px;
}

#check_bar{
    top:320px;
}

#birth_bar{
    top:360px;
}

#phone_bar{
    top:400px;
}

#gender_bar{
    top:440px;
}

.bt{
    position: absolute;
    padding: 7px 17px 7px 17px;
    top:480px
}

#sign_up_bt{
    left:800px;
}

#to_log_bt{
    left:900px;
}

#back_bt{
    left:1030px;
}

.title{
    position: absolute;
    left:880px;
    top:100px;
    margin: 0px;
    font-size: 25px;
}

